EVENT_SLUG=ropecon2026
KOMPASSI_GRAPHQUL_URL=https://dev.kompassi.eu/graphql

# Get the following from Kompassi cookies
CSRF_TOKEN=""
SESSION_ID=""

# Only for sending program invites
# Slug of the form where program helpers should sign up
INVITE_FORM_SLUG=program_helpers_form